---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Febrero 2023 - Julio 2023",
    title: "Practicas Full Stack",
    company: "Aduxia",
    description:
      "En periodo de prácticas me enseñaron mucho el funcionamiento de una empresa, como trabajar en equipo y la comunicación con el equipo. A nivel técnico hice mucha maquetación y diseño web, me enseñaron distintos frameworks como Bootstrap, Tailwind o Chakra.",
      
    
  },
  
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
